<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina Principal ECSDIstore</title>
</head>
<body>
    <h1><b>Bienvenido a ECSDIstore</b></h1>
    <h2>Tus compras de manera inteligente</h2>
    <table cellpadding="5px">
        <tr>
            <td>Para realizar tus compras por favor sigue el siguiente link:</td>
        </tr>
        <tr>
            <td><a href="./search">Busqueda de productos</a></td>
        </tr>
        <tr>
            <td>Para ver productos de tu interes sigue el siguiente link:</td>
        </tr>
        <tr>
            <td><a href="./recommend">Productos recomendados</a></td>
        </tr>
        <tr>
            <td>Para devolver un producto especifica tu tarjeta con la que has comprado algún producto:</td>
        </tr>
        <tr>
            <td>
                <form method="post" action="/purchased" >
                <input type="text" name="tarjeta" placeholder="Tarjeta..."/><br>
                <input type="submit" name="return" value="submit">
                </form>
            </td>
        </tr>
        <tr>
            <td><h2>Estos son algunos de nuestros productos estrella:</h2></td>
        </tr>

        <tr>

            {%if products%}
                <table style="width:85%; border-collapse:collapse;" align="center" border="1px solid black">
                  <tr align="left">
                    <th style="padding:15px">Nombre</th>
                    <th style="padding:15px">Precio</th>
                    <th style="padding:15px">Descripción</th>
                  </tr>
                  {% for product in products %}
                    <tr>
                        <td style="padding:15px">{{ product.Nombre }}</td>
                        <td style="padding:15px">{{ product.Precio }}</td>
                        <td style="padding:15px">{{ product.Descripcion }}</td>
                    </tr>
                  {% endfor %}
                </table>
            {%endif%}
        </tr>
    </table>
</body>
</html>