<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECSDIShop</title>
</head>
<body>
    <form method="post">
        <input type="number" name="tarjeta" placeholder="Tarjeta..."/><br>
        <input type="text" name="nombreProducto" placeholder="Nombre de producto..."/><br>
        <input type="text" name="descripcionProducto" placeholder="Descripcion de producto..."/><br>
        <input type="number" name="peso" placeholder="Peso del producto..."/><br>
        <input type="number" name="numeroUnidades" placeholder="Unidades a vender..."/><br>
        <input type="number" name="precio" placeholder="Precio de venta..."/><br>
        ¿Desea que gestionemos sus productos? <input type="checkbox" name="lugarEnvio" value="envio"/><br><br>
        <input type="submit" name="submit" value="Submit">
    </form>
</body>
</html>