<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venta Realizada</title>
</head>
<body>
    <h1>ProductosComprados:</h1>
     <table style="width:85%; border-collapse:collapse;" align="center" border="1px solid black">
          <tr align="left">
            <th style="padding:15px">Nombre</th>
            <th style="padding:15px">Precio</th>
            <th style="padding:15px">Descripción</th>
          </tr>
          {% for product in products %}
            <tr>
                <td style="padding:15px">{{ product.Nombre }}</td>
                <td style="padding:15px">{{ product.Precio }}</td>
                <td style="padding:15px">{{ product.Descripcion }}</td>
                <td style="padding:15px"><input type="checkbox" name="checkbox" value="{{ products.index(product) }}"></td>
            </tr>
          {% endfor %}
     </table>
</body>
</html>